<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins&display=swap" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" defer></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js" defer></script>
   <script src="./Animations/contact.js" defer></script>
   <link rel="stylesheet" href="./Styling/style.css">
   <title>Photogen - Contact Us</title>
</head>
<body>
   <div class="cont-g">
      <header>
         <nav>
            <div class="section-1">
               <div class="nav">
                  <div class="nav-links">
                     <div class="burger-menu">
                        <div class="burger"></div>
                     </div>
                  </div>
                  <div class="nav-logo">
                     <h1>Photogen</h1>
                  </div>
                  <div class="nav-cart-cont">
                     <img src="./Images/Svg/cart.svg" alt="a cart icon" class="nav-cart">
                  </div>
               </div>
               <div class="nav-menu">
                  <li><a href="#">Home</a></li>
                  <li class="link-products">Products</li>
                  <li><a href="#">Explore</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#" id="sign-in-link">Sign In</a></li>
               </div>
               <div class="nav-products">
                  <li><a href="#">Cameras</a></li>
                  <li><a href="#">Drones</a></li>
                  <li><a href="#">Recorders</a></li>
                  <li><a href="#">Lighting</a></li>
                  <img src="./Images/Svg/Back.svg" alt="an arrow icon" class="nav-back">
               </div>
               <div class="sign-in">
                  <div class="sign-in-sep"></div>
                  <img src="./Images/Svg/go-back-signin.svg" alt="an arrow" class="sign-in-back">
                  <div class="sign-in-text">
                     <h1>Sign In</h1>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quibusdam!</p>
                     <button type="button" class="sign-ing-button">Register</button>
                  </div>
                  <div class="sign-in-input">
                     <div class="sign-in-input-2">
                        <input type="email" name="email" id="sign-in-email" placeholder="Email Address" required>
                        <input type="password" name="password" id="sign-in-password" placeholder="Password" required>
                        <button type="submit" class="sign-in-input-btn">Log In</button>
                        <h3><a href="#">Forgot Password?</a></h3>
                     </div>
                  </div>
               </div>
               <div class="sign-up2">
                  <div class="sign-up-sep"></div>
                  <img src="./Images/Svg/go-back-signin.svg" alt="an arrow" class="sign-up-back">
                  <div class="sign-up-text">
                     <h1>Sign Up</h1>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quibusdam!</p>
                     <button type="button" class="sign-up-button">Log In</button>
                  </div>
                  <div class="sign-up-input">
                     <div class="sign-up-input-2">
                        <input type="text" name="name" id="sign-up-name" placeholder="Full Name" required>
                        <input type="email" name="email" id="sign-up-email" placeholder="Email Address" required>
                        <input type="password" name="password" id="sign-up-password" placeholder="Password" required>
                        <button type="submit" class="sign-up-input-btn">Register</button>
                        <h3><a href="#">Forgot Password?</a></h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="section-b1">
               <div class="nav-b">
                  <div class="nav-b1">
                     <h1>Photogen</h1>
                     <ul class="nav-b1-ul">
                        <li class="nav-b1-li"><a href="#">Home</a></li>
                        <li class="nav-b1-product">Products</li>
                        <li class="nav-b1-li"><a href="#">Explore</a></li>
                        <li class="nav-b1-li"><a href="#">Support</a></li>
                     </ul>
                  </div>
                  <div class="nav-c1">
                     <img src="./Images/Svg/user-regular.svg" alt="a user" class="account-img">
                     <img src="./Images/Svg/cart.svg" alt="a shopping cart" class="nav-c1-cart">
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <section>
         <div class="section-2g">
            <div class="lp-g">
               <h1>Contact Us</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus deserunt illum tempore? Vitae?</p>
               <img src="./Images/Svg/scroll.svg" alt="a scroll icon" class="lp-g-scroll">
               <img src="./Images/Png/contact-img-min.png" alt="a camera" class="lp-g-img">
            </div>
         </div>
      </section>
      <section>
         <div class="section-3g">
            <div class="contact">
               <div class="c-info">
                  <h1 class="c-title">Send A Message</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus deserunt illum tempore? Vitae?</p>
                  <div class="c-phone-p">
                     <img src="./Images/Svg/phone-alt-solid (2).svg" alt="a phone" class="c-phone">
                     <h2>0653 354 6568</h2>
                  </div>
                  <div class="c-email-p">
                     <img src="./Images/Svg/envelope-solid (1).svg" alt="an envelope" class="c-env">
                     <h2>Photogen@gmail.com</h2>
                  </div>
                  <div class="c-address-p">
                     <img src="./Images/Svg/map-marker-alt-solid (2).svg" alt="a map marker" class="c-map">
                     <h2>215, Rough st, ag21 h4g</h2>
                  </div>
               </div>
               <div class="c-input">
                  <input type="text" name="name" id="c-name" placeholder="Full Name" required>
                  <input type="email" name="email" id="c-email" placeholder="Email Address" required>
                  <textarea name="message" id="c-msg" cols="30" rows="10" placeholder="Your Message" required></textarea>
                  <button type="submit">Send Message</button>
               </div>
            </div>
         </div>
      </section>
      <footer>
         <div class="section-4g">
            <div class="footer">
               <div class="f-info">
                  <h1 class="f-address">Address: 215, Rough st, ag21 h4g</h1>
                  <h1 class="f-phone">0653 354 6568</h1>
                  <h1 class="f-email">Photogen@gmail.com</h1>
               </div>
               <div class="f-other">
                  <h1 class="f-imgs">Images from Pexel/Unsplashed</h1>
                  <h1 class="f-fonts">Icons from Fontawsome</h1>
                  <h1 class="f-copy">Copyright © 2020 Photogen</h1>
               </div>
               <div class="f-socials">
                  <a href="#"><img src="./Images/Svg/facebook-brands (1).svg" alt="facebook icon" class="f-fb"></a>
                  <a href="#"><img src="./Images/Svg/twitter-brands (1).svg" alt="twitter icon" class="f-twitter"></a>
                  <a href="#"><img src="./Images/Svg/instagram-brands (1).svg" alt="instagram icon" class="f-ig"></a>
               </div>
            </div>
         </div>
      </footer>
   </div>
</body>
</html>